EXPO_PUBLIC_SUPABASE_URL=https://vdnipvvvlbndytcpomwz.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZkbmlwdnZ2bGJuZHl0Y3BvbXd6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDgzNTg3NDQsImV4cCI6MjA2MzkzNDc0NH0.pMPYjWwMeAxOtDaYGXihN2NregnQ0el2W4FISWpt0lc